<a href="https://colab.research.google.com/github/eddowding/em_colab/blob/main/esmColab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [ ]:
from google.cloud import bigquery
import pandas as pd
import numpy as np
pd.set_option('display.max_columns',None)

In [ ]:
#@title Default title text
Project_id = "ecosystemmarketplace" #@param {type:"string"}
SourceDatasetName = "esm_TRN" #@param {type:"string"}
SourceTableName = "trades" #@param {type:"string"}
DestinationDatasetName = "esm_FINAL" #@param {type:"string"}
DestinationTable = "trades" #@param {type:"string"}

# ecosystemmarketplace.em_22Apr.22apr_22apr_cleandate_tableau_output_22apr_cleandate_tableau_output

# Source Datasets
# em_22Apr
# esm_Stage

# Source Tables
# 22apr_22apr_cleandate_tableau_output_22apr_cleandate_tableau_output
# em_src


# Destination Datasets
# esm_Stage
# esm_TRN

In [ ]:
client = bigquery.Client(project=Project_id)


# em_src
# sample_query = 'SELECT ROW_NUMBER() OVER (ORDER BY __hevo_id) src_Id,* FROM `'
# sample_query = sample_query+Project_id+'.'+SourceDatasetName+'.'+SourceTableName +'`'



#respondents

# respondents_Stage
# source_parentId = 'src_Id'
# identifier_column ='respondent_name'
# source_columns = 'RANK() over (Order by trim(em_respondent)) respondent_id , trim(em_respondent) as respondent_name,respondent_role,respondent_profit_status,respondent_website'
# Query = 'SELECT '+source_parentId+',' + source_columns +' FROM `'+Project_id+'.'+SourceDatasetName+'.'+SourceTableName +'`'

# respondents_TRN
# source_columns = 'respondents.respondent_id,respondents.respondent_name,respondents.respondent_role,countries.respondent_country_id,respondents.respondent_profit_status,respondents.respondent_website'
# JoiningCondition = '`ecosystemmarketplace.esm_Stage.respondents` as respondents INNER JOIN `ecosystemmarketplace.esm_Stage.countries` as countries ON respondents.src_Id = countries.src_Id'
# Query = 'SELECT ' + source_columns +' FROM '+JoiningCondition


# respondents_FINAL

# source_columns = 'respondent_id,respondent_name,respondent_role,respondent_country_id country_id,respondent_profit_status,respondent_website'
# id_column = 'respondent_id'
# Entry_number = '(SELECT row_number() over (Partition by '+id_column+' order by '+id_column+') as entry_number,'+source_columns+' FROM `'+Project_id+'.'+SourceDatasetName+'.'+SourceTableName +'`'
# Entry_number_ctd = ') where entry_number'

# Query = 'SELECT ' + source_columns +' FROM '+Entry_number+Entry_number_ctd+'=1'
# LogQuery = 'SELECT ' + source_columns +' FROM '+Entry_number+Entry_number_ctd+'>1'



#buyer_Stage
# source_parentId = 'src_Id'
# identifier_column ='buyer_name'
# source_columns = 'RANK() over (Order by trim(buyer_name)) buyer_id , trim(buyer_name) as buyer_name,buyer_profit_status,buyer_profit_status_description,buyer_sector'
# Filter = ' WHERE NULLIF(trim('+identifier_column+'),\'\') IS NOT NULL'
# Query = 'SELECT '+source_parentId+',' + source_columns +' FROM `'+Project_id+'.'+SourceDatasetName+'.'+SourceTableName +'`'+Filter


#buyer_TRN
# source_columns = 'buyers.buyer_id,buyer_name,buyer_country_id country_id,buyer_profit_status,buyer_profit_status_description,buyer_sector'
# JoiningCondition = '`ecosystemmarketplace.esm_Stage.buyers` as buyers INNER JOIN `ecosystemmarketplace.esm_Stage.countries` as countries ON buyers.src_Id = countries.src_Id'
# Query = 'SELECT ' + source_columns +' FROM '+JoiningCondition

# buyer_FINAL
# source_columns = 'buyer_id,buyer_name,buyer_country_id,buyer_profit_status,buyer_profit_status_description,buyer_sector'
# id_column = 'buyer_id'
# Entry_number = '(SELECT row_number() over (Partition by '+id_column+' order by '+id_column+') as entry_number,'+source_columns+' FROM `'+Project_id+'.'+SourceDatasetName+'.'+SourceTableName +'`'
# Entry_number_ctd = ') where entry_number'

# Query = 'SELECT ' + source_columns +' FROM '+Entry_number+Entry_number_ctd+'=1'
# LogQuery = 'SELECT ' + source_columns +' FROM '+Entry_number+Entry_number_ctd+'>1'



# projects
# projects_Stage
# source_parentId = 'src_Id'
# source_columns = 'registry_id,project_name,project_s_type,project_category,reduction_removal,third_party_standard,co_benefits_standard,SDG,corsia_eligibility'
# Filter = ' WHERE project_s_type is not null or project_category is not null or reduction_removal is not null or third_party_standard is not null or co_benefits_standard is not null or SDG is not null or corsia_eligibility  is not null'
# Query = 'SELECT '+source_parentId+',' + source_columns +' FROM `'+Project_id+'.'+SourceDatasetName+'.'+SourceTableName +'`'+Filter




# projects_TRN

# source_merged_VCS ='CASE WHEN coalesce(VCS.project_id,trim(src.registry_id)) IS NULL THEN CAST(RANK() OVER(ORDER BY src.src_Id) as string) ELSE coalesce(VCS.project_id,trim(src.registry_id)) END project_id'
# source_columns = 'src.src_Id,src.project_name em_project_name,src.project_s_type,src.project_category,src.reduction_removal em_reduction_removal,src.third_party_standard,src.co_benefits_standard,src.SDG,countries.project_s_country_id country_id, src.corsia_eligibility,VCS.project_name,VCS.voluntary_registry,VCS.arb_project,VCS.voluntary_status,VCS.scope,VCS.type,VCS.reduction_removal,VCS.region,VCS.country,VCS.state,VCS.project_site_location,VCS.project_developer,VCS.total_credits_issued,VCS.total_credits_retired,VCS.total_credits_remaining,VCS.first_year_of_project,VCS.verifier,VCS.registry_arb,VCS.arb_project_detail,VCS.project_type,VCS.registry_documents,VCS.date_added_to_database,VCS.ccb_certifications,VCS.arb_id,VCS.project_website,VCS.project_owner,VCS.offset_project_operator,VCS.authorized_project_designee,VCS.project_listed,VCS.project_registered,VCS.notes_from_registry,VCS.notes_from_berkeley_carbon_trading_project,VCS.methodology_protocol,VCS.estimated_annual_emission_reductions,VCS.pers'
# project_From =' FROM `ecosystemmarketplace.Berkeley_VCM.berkeley_projects_projects` as VCS  FULL OUTER JOIN `ecosystemmarketplace.esm_Stage.projects` as src ON VCS.project_id = trim(src.registry_id) INNER JOIN `ecosystemmarketplace.esm_Stage.countries` as countries ON src.src_Id = countries.src_Id'
# Query = 'SELECT '+ source_merged_VCS+','+source_columns +project_From

# project_FINAL

# source_columns = 'project_id,em_project_name,project_s_type,project_category,em_reduction_removal,third_party_standard,co_benefits_standard,SDG,country_id, corsia_eligibility,project_name,voluntary_registry,arb_project,voluntary_status,scope,type,reduction_removal,region,country,state,project_site_location,project_developer,total_credits_issued,total_credits_retired,total_credits_remaining,first_year_of_project,verifier,registry_arb,arb_project_detail,project_type,registry_documents,date_added_to_database,ccb_certifications,arb_id,project_website,project_owner,offset_project_operator,authorized_project_designee,project_listed,project_registered,notes_from_registry,notes_from_berkeley_carbon_trading_project,methodology_protocol,estimated_annual_emission_reductions,pers'
# id_column = 'project_id'
# Entry_number = '(SELECT row_number() over (Partition by '+id_column+' order by '+id_column+') as entry_number,'+source_columns+' FROM `'+Project_id+'.'+SourceDatasetName+'.'+SourceTableName +'`'
# Entry_number_ctd = ') where entry_number'

# Query = 'SELECT ' + source_columns +' FROM '+Entry_number+Entry_number_ctd+'=1'
# LogQuery = 'SELECT ' + source_columns +' FROM '+Entry_number+Entry_number_ctd+'>1'

# trade
# trade_Stage

# source_columns = 'src_Id trade_id,year_reported,registry_id,volume_transacted_tco2e,volume_w_price,conversion,average_price_usd_tco2e,transaction_date,transaction_year,vintage_year,market_classification,transdate,transyr,primary_secondary_market,spot_or_forward,if_forward_contract_what_percentage_are_options,forward_contract_maturity_date,end_user_or_intermediary,buyer_s_voluntary_goals_details_for_use_of_offsets,if_private_sectore_buyer_department,scopes,_scope_1,_scope_2,_scope_3,if_scope_3_please_describe_activity scope3_activity,did_the_buyer_purchase_the_credits_to_use_internally_or_to_re_sell_for_future_corsia_compliance as buyer_internal_or_resell,if_transaction_is_for_a_compliance_purpose_what_of_their_cap_does_the_buyer_cover_with_this_transaction as buyer_qty_compliance,if_end_buyer_will_buyer_be_retiring_offsets_immediately_or_plan_to_store_offsets_for_future_retirement as buyer_retire_or_store,if_end_buyer_do_they_have_an_internal_policy_regarding_storage_or_retirement_of_vintage_offsets as buyer_retirement_policy,if_yes_what_is_buyer_s_cut_off_year_for_vintage_offsets_to_be_retired as buyer_vintage_cutoff,if_end_buyer_will_buyer_be_integrating_offsets_into_consumer_product_offerings_including_at_point_of_sale_pos as buyer_consumerProduct,what_was_the_cost_per_ton_for_project_development_usd as project_dvpt_usd_ton,how_was_the_project_financed as project_financed_how ,was_organization_s_credit_history_previous_project_development_experience_a_factor_in_securing_project_finance as project_finance_usedCreditHistory,are_the_credits_jurisdictional_scale as buyer_c_jurisdictional,will_the_project_nest_into_a_jurisdictional_redd_program as project_jurisdictional_REDD'
# Filter =' where year_reported is not null or registry_id is not null or volume_transacted_tco2e is not null or volume_w_price is not null or conversion is not null or average_price_usd_tco2e is not null or transaction_date is not null or transaction_year is not null or vintage_year is not null or market_classification is not null or transdate is not null or transyr is not null or primary_secondary_market is not null or spot_or_forward is not null or if_forward_contract_what_percentage_are_options is not null or forward_contract_maturity_date is not null or end_user_or_intermediary is not null or buyer_s_voluntary_goals_details_for_use_of_offsets is not null or if_private_sectore_buyer_department is not null or scopes is not null or _scope_1 is not null or _scope_2 is not null or _scope_3 is not null or scope3_activity is not null or buyer_internal_or_resell is not null or buyer_qty_compliance is not null or buyer_retire_or_store is not null or buyer_retirement_policy is not null or buyer_vintage_cutoff is not null or buyer_consumerProduct is not null or project_dvpt_usd_ton is not null or project_financed_how is not null or project_finance_usedCreditHistory is not null or buyer_c_jurisdictional is not null or project_jurisdictional_REDD is not null'
# Query_Alias = '(SELECT '+ source_columns +' FROM `'+Project_id+'.'+SourceDatasetName+'.'+SourceTableName +'`)'
# Query = 'SELECT * FROM '+Query_Alias+Filter

# trade_TRN

# source_columns = 'trade_id,projects.project_id,respondents.respondent_id,buyers.buyer_id,year_reported,registry_id,volume_transacted_tco2e,volume_w_price,conversion,average_price_usd_tco2e,transaction_date,transaction_year,vintage_year,market_classification,transdate,transyr,primary_secondary_market,spot_or_forward,if_forward_contract_what_percentage_are_options,forward_contract_maturity_date,end_user_or_intermediary,buyer_s_voluntary_goals_details_for_use_of_offsets,if_private_sectore_buyer_department,scopes,_scope_1,_scope_2,_scope_3,scope3_activity,buyer_internal_or_resell,buyer_qty_compliance,buyer_retire_or_store,buyer_retirement_policy,buyer_vintage_cutoff,buyer_consumerProduct,project_dvpt_usd_ton,project_financed_how ,project_finance_usedCreditHistory,buyer_c_jurisdictional,project_jurisdictional_REDD'
# JoiningCondition = '`ecosystemmarketplace.esm_Stage.trades` as trades LEFT JOIN `ecosystemmarketplace.esm_Stage.respondents` as respondents ON respondents.src_Id = trades.trade_id LEFT JOIN `ecosystemmarketplace.esm_Stage.buyers` as buyers ON buyers.src_Id= trades.trade_id LEFT JOIN `ecosystemmarketplace.esm_TRN.projects` as projects ON projects.src_Id= trades.trade_id'
# Query = 'SELECT ' + source_columns +' FROM '+JoiningCondition

# trades_FINAL

source_columns = 'trade_id,project_id,respondent_id,buyer_id,year_reported,registry_id,volume_transacted_tco2e,volume_w_price,conversion,average_price_usd_tco2e,transaction_date,transaction_year,vintage_year,market_classification,transdate,transyr,primary_secondary_market,spot_or_forward,if_forward_contract_what_percentage_are_options,forward_contract_maturity_date,end_user_or_intermediary,buyer_s_voluntary_goals_details_for_use_of_offsets,if_private_sectore_buyer_department,scopes,_scope_1,_scope_2,_scope_3,scope3_activity,buyer_internal_or_resell,buyer_qty_compliance,buyer_retire_or_store,buyer_retirement_policy,buyer_vintage_cutoff,buyer_consumerProduct,project_dvpt_usd_ton,project_financed_how ,project_finance_usedCreditHistory,buyer_c_jurisdictional,project_jurisdictional_REDD'
id_column = 'trade_id'
Query = 'SELECT ' + source_columns+' FROM `'+Project_id+'.'+SourceDatasetName+'.'+SourceTableName +'`'
# Every row is already unique no need for LOG.





# #methodology
# sample_query='SELECT DISTINCT methdology_protocol_the_project_adheres_to as methodology_name FROM `'
# sample_query = sample_query+Project_id+'.'+SourceDatasetName+'.'+SourceTableName +'`'


# countries
# source_parentId = 'src_Id'
# source_columns = 'RANK() over (Order by respondent_country) respondent_country_id,respondent_country,RANK() over (Order by project_s_country) project_s_country_id,project_s_country,RANK() over (Order by buyer_country) buyer_country_id,buyer_country'
# Query = 'SELECT '+source_parentId+',' + source_columns +' FROM `'+Project_id+'.'+SourceDatasetName+'.'+SourceTableName +'`'

In [ ]:
print(Query)
# print(LogQuery) # From TRN to FINAL

SELECT trade_id,project_id,respondent_id,buyer_id,year_reported,registry_id,volume_transacted_tco2e,volume_w_price,conversion,average_price_usd_tco2e,transaction_date,transaction_year,vintage_year,market_classification,transdate,transyr,primary_secondary_market,spot_or_forward,if_forward_contract_what_percentage_are_options,forward_contract_maturity_date,end_user_or_intermediary,buyer_s_voluntary_goals_details_for_use_of_offsets,if_private_sectore_buyer_department,scopes,_scope_1,_scope_2,_scope_3,scope3_activity,buyer_internal_or_resell,buyer_qty_compliance,buyer_retire_or_store,buyer_retirement_policy,buyer_vintage_cutoff,buyer_consumerProduct,project_dvpt_usd_ton,project_financed_how ,project_finance_usedCreditHistory,buyer_c_jurisdictional,project_jurisdictional_REDD FROM `ecosystemmarketplace.esm_TRN.trades`

In [ ]:
df = client.query(Query).to_dataframe()
# df_Log = client.query(LogQuery).to_dataframe() # From TRN to FINAL

In [ ]:
df.columns

Index(['trade_id', 'project_id', 'respondent_id', 'buyer_id', 'year_reported',
       'registry_id', 'volume_transacted_tco2e', 'volume_w_price',
       'conversion', 'average_price_usd_tco2e', 'transaction_date',
       'transaction_year', 'vintage_year', 'market_classification',
       'transdate', 'transyr', 'primary_secondary_market', 'spot_or_forward',
       'if_forward_contract_what_percentage_are_options',
       'forward_contract_maturity_date', 'end_user_or_intermediary',
       'buyer_s_voluntary_goals_details_for_use_of_offsets',
       'if_private_sectore_buyer_department', 'scopes', '_scope_1', '_scope_2',
       '_scope_3', 'scope3_activity', 'buyer_internal_or_resell',
       'buyer_qty_compliance', 'buyer_retire_or_store',
       'buyer_retirement_policy', 'buyer_vintage_cutoff',
       'buyer_consumerProduct', 'project_dvpt_usd_ton', 'project_financed_how',
       'project_finance_usedCreditHistory', 'buyer_c_jurisdictional',
       'project_jurisdictional_REDD'],
      dtype='object')

In [ ]:
print(df.shape)
# print(df_Log.shape)  # From TRN to FINAL

(48881, 39)

In [ ]:
df.dtypes
# df['src_Id'] = df['src_Id'].replace(np.NAN,0).astype('int64') # execute if needed

trade_id                                                            int64
project_id                                                         object
respondent_id                                                       int64
buyer_id                                                          float64
year_reported                                         datetime64[ns, UTC]
registry_id                                                        object
volume_transacted_tco2e                                           float64
volume_w_price                                                     object
conversion                                                        float64
average_price_usd_tco2e                                           float64
transaction_date                                                   object
transaction_year                                      datetime64[ns, UTC]
vintage_year                                                       object
market_classification                                              object
transdate                                             datetime64[ns, UTC]
transyr                                               datetime64[ns, UTC]
primary_secondary_market                                           object
spot_or_forward                                                    object
if_forward_contract_what_percentage_are_options                    object
forward_contract_maturity_date                                     object
end_user_or_intermediary                                           object
buyer_s_voluntary_goals_details_for_use_of_offsets                 object
if_private_sectore_buyer_department                                object
scopes                                                             object
_scope_1                                                           object
_scope_2                                                           object
_scope_3                                                           object
scope3_activity                                                    object
buyer_internal_or_resell                                           object
buyer_qty_compliance                                               object
buyer_retire_or_store                                              object
buyer_retirement_policy                                            object
buyer_vintage_cutoff                                               object
buyer_consumerProduct                                              object
project_dvpt_usd_ton                                               object
project_financed_how                                               object
project_finance_usedCreditHistory                                  object
buyer_c_jurisdictional                                             object
project_jurisdictional_REDD                                        object
dtype: object

In [ ]:
df.describe(include='all')

,src_Id,project_id,em_project_name,project_s_type,project_category,em_reduction_removal,third_party_standard,co_benefits_standard,SDG,corsia_eligibility,project_name,voluntary_registry,arb_project,voluntary_status,scope,type,reduction_removal,region,country,state,project_site_location,project_developer,total_credits_issued,total_credits_retired,total_credits_remaining,first_year_of_project,verifier,registry_arb,arb_project_detail,project_type,registry_documents,date_added_to_database,ccb_certifications,arb_id,project_website,project_owner,offset_project_operator,authorized_project_designee,project_listed,project_registered,notes_from_registry,notes_from_berkeley_carbon_trading_project,methodology_protocol,estimated_annual_emission_reductions,pers
count,54098.000000,54098,40266,48062,48205,48072,47906,10545,33981,1225,34480,34480,34480,34208,34480,34480,34480,34480,34480,1690,1655,34480,3.448000e+04,3.448000e+04,3.448000e+04,32064.000000,949,34389,1645,34478,34480,34480,2279,534,28870,26175,745,398,902,723,55,3018,32794,3.284600e+04,2351.0
unique,NaN,16409,1702,63,14,3,52,14,5957,2,5786,4,2,18,9,67,3,13,119,94,791,2145,NaN,NaN,NaN,NaN,26,5,14,89,2685,4,23,519,2462,494,193,35,435,449,48,42,232,NaN,19.0
top,NaN,GS2940,CO2OL Tropical Mix,Energy efficiency: community-focused,Renewable Energy,Reduction,Gold Standard,Qualifying ESG Practices- NET Positive,"7, 13, 8",no,CO2OL Tropical Mix,GOLD,No,Gold Standard Certified Project,Renewable Energy,Wind,Reduction,South Asia,India,OHIO,Mississippi Alluvial Valley,Orange Renewable Power Pvt Ltd,NaN,NaN,NaN,NaN,Ruby Canyon Environment,GOLD,Not ARB Eligible,ENERGY_EFFICIENCY_DOMESTIC,https://www.vcsprojectdatabase.org/#/projects,v1 4-2021,Verification Approved,CAFR6409,https://registry.goldstandard.org/projects/det...,Orange Renewable Power Pvt Ltd,World Vision Australia,None,2009-01-17 00:00:00+00:00,2013-11-01 00:00:00+00:00,Project moved to completed on 9/16/2014 due to...,PERs fully accounted in Issuances & Retirements,ACM0002 Grid-connected electricity generation ...,NaN,194956.0
freq,NaN,1674,1674,8653,21149,33261,28789,5986,6909,847,1674,28364,33788,27089,14040,6780,27775,7973,7446,200,73,3387,NaN,NaN,NaN,NaN,240,28273,1058,9629,4461,33623,1103,13,1674,3365,315,218,27,27,4,1674,6405,NaN,1674.0
mean,22084.005342,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.720618e+05,4.880007e+05,4.840611e+05,2012.305888,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.805691e+05,NaN
std,15230.469484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.195990e+06,1.426657e+06,1.984748e+06,4.918789,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.541996e+06,NaN
min,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,0.000000e+00,-8.007300e+04,1996.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN
25%,8308.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.308900e+04,1.946400e+04,8.185000e+03,2010.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+04,NaN
50%,21832.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.727200e+05,9.302900e+04,4.254400e+04,2013.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.354100e+04,NaN
75%,35356.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.817200e+05,6.323500e+05,1.895500e+05,2015.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.075090e+05,NaN
max,48881.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.362562e+07,1.907358e+07,2.502639e+07,2021.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+09,NaN

In [ ]:
# df_Log.describe(include='all')  # From TRN to FINAL

,buyer_id,buyer_name,buyer_country_id,buyer_profit_status,buyer_profit_status_description,buyer_sector
count,24358.000000,24358,24358.000000,2857,17812,6913
unique,NaN,4740,NaN,8,15,32
top,NaN,MINA TUCANO LTDA MINA TUCANO LTDA,NaN,For-profit/private sector,End User,"Services (hospitality, retail, etc.)"
freq,NaN,939,NaN,2073,15923,1720
mean,17310.992816,NaN,12269.355325,NaN,NaN,NaN
std,10113.806197,NaN,17497.356637,NaN,NaN,NaN
min,1.000000,NaN,1.000000,NaN,NaN,NaN
25%,8212.000000,NaN,1.000000,NaN,NaN,NaN
50%,17594.000000,NaN,1.000000,NaN,NaN,NaN
75%,26071.000000,NaN,34193.000000,NaN,NaN,NaN
max,35044.000000,NaN,48867.000000,NaN,NaN,NaN

In [ ]:
df.isnull().sum()

trade_id                                                  0
project_id                                              466
respondent_id                                             0
buyer_id                                              13836
year_reported                                           838
registry_id                                            9716
volume_transacted_tco2e                                1444
volume_w_price                                        27646
conversion                                              385
average_price_usd_tco2e                                1084
transaction_date                                      34799
transaction_year                                        291
vintage_year                                           6177
market_classification                                   111
transdate                                               255
transyr                                                 101
primary_secondary_market                               6608
spot_or_forward                                        7230
if_forward_contract_what_percentage_are_options       46698
forward_contract_maturity_date                        48418
end_user_or_intermediary                              30915
buyer_s_voluntary_goals_details_for_use_of_offsets    39510
if_private_sectore_buyer_department                   30390
scopes                                                47821
_scope_1                                              42665
_scope_2                                              42757
_scope_3                                              42745
scope3_activity                                       37876
buyer_internal_or_resell                              40837
buyer_qty_compliance                                  48852
buyer_retire_or_store                                 40396
buyer_retirement_policy                               42550
buyer_vintage_cutoff                                  42834
buyer_consumerProduct                                 36795
project_dvpt_usd_ton                                  41915
project_financed_how                                  40534
project_finance_usedCreditHistory                     41250
buyer_c_jurisdictional                                40947
project_jurisdictional_REDD                           36621
dtype: int64

In [ ]:
# df_Log.isnull().sum()  # From TRN to FINAL

project_id                                        0
em_project_name                                   2
project_s_type                                    1
project_category                                  1
em_reduction_removal                             18
third_party_standard                              0
co_benefits_standard                          29445
SDG                                            4821
country_id                                        0
corsia_eligibility                            36636
project_name                                   9098
voluntary_registry                             9098
arb_project                                    9098
voluntary_status                               9098
scope                                          9098
type                                           9098
reduction_removal                              9098
region                                         9098
country                                        9098
state                                         37248
project_site_location                         37248
project_developer                              9098
total_credits_issued                           9098
total_credits_retired                          9098
total_credits_remaining                        9098
first_year_of_project                          9160
verifier                                      37343
registry_arb                                   9098
arb_project_detail                            37248
project_type                                   9098
registry_documents                             9098
date_added_to_database                         9098
ccb_certifications                            36030
arb_id                                        37677
project_website                               11502
project_owner                                 13061
offset_project_operator                       37345
authorized_project_designee                   37661
project_listed                                37479
project_registered                            37516
notes_from_registry                           37686
notes_from_berkeley_carbon_trading_project    34737
methodology_protocol                           9540
estimated_annual_emission_reductions           9535
pers                                          35357
dtype: int64

Please use only when moving data for Stage only.

In [ ]:
# Use when Loading from Stage to TRN

# For source replica
# df = df.dropna(axis=0,how='all')

#
# df = df.dropna(axis=0,subset=[identifier_column])



#For child tables inlcuding foreign keys
# df_orig_columns = df.columns.to_list()
# df_columns = df_orig_columns[:]
# df_columns.insert(0,'id')

# df = df.dropna(axis=0,how='all',subset=df_orig_columns)
# df['id'] = np.arange(start = 1,stop=len(df)+1)
# df = df.reindex(columns = df_columns)

In [ ]:
df.head()

,trade_id,project_id,respondent_id,buyer_id,year_reported,registry_id,volume_transacted_tco2e,volume_w_price,conversion,average_price_usd_tco2e,transaction_date,transaction_year,vintage_year,market_classification,transdate,transyr,primary_secondary_market,spot_or_forward,if_forward_contract_what_percentage_are_options,forward_contract_maturity_date,end_user_or_intermediary,buyer_s_voluntary_goals_details_for_use_of_offsets,if_private_sectore_buyer_department,scopes,_scope_1,_scope_2,_scope_3,scope3_activity,buyer_internal_or_resell,buyer_qty_compliance,buyer_retire_or_store,buyer_retirement_policy,buyer_vintage_cutoff,buyer_consumerProduct,project_dvpt_usd_ton,project_financed_how,project_finance_usedCreditHistory,buyer_c_jurisdictional,project_jurisdictional_REDD
0,5184,7.601101021E9,3822,5507.0,2022-01-01 00:00:00+00:00,7.601101021E9,230.0,230.0,0.56,36.86,2012-01-12 00:00:00+00:00,2012-01-01 00:00:00+00:00,2013.0,Voluntary Carbon Market,2012-01-12 00:00:00+00:00,2012-01-12 00:00:00+00:00,Primary,Spot,None,None,End User,Voluntary net zero,Sustainability,None,100.0,0.0,0.0,None,Internal use,None,Immediately,Yes,Year prior to purchase date,Yes,"5,50",Other,Yes,Yes,Yes
1,9113,7.604101011E9,3822,29804.0,2022-01-01 00:00:00+00:00,7.604101011E9,54.0,54.0,0.44,28.92,2013-08-12 00:00:00+00:00,2013-01-01 00:00:00+00:00,2013.0,Voluntary Carbon Market,2013-08-12 00:00:00+00:00,2013-08-12 00:00:00+00:00,Primary,Spot,None,None,End User,Voluntary net zero,Sustainability,None,100.0,0.0,0.0,None,Internal use,None,Immediately,Yes,Year prior to purchase date,Yes,"5,50",Other,Yes,Yes,Yes
2,9114,7.604101011E9,3822,29804.0,2022-01-01 00:00:00+00:00,7.604101011E9,54.0,54.0,0.44,28.92,2013-08-12 00:00:00+00:00,2013-01-01 00:00:00+00:00,2013.0,Voluntary Carbon Market,2013-08-12 00:00:00+00:00,2013-08-12 00:00:00+00:00,Primary,Spot,None,None,End User,Voluntary net zero,Sustainability,None,100.0,0.0,0.0,None,Internal use,None,Immediately,Yes,Year prior to purchase date,Yes,"5,50",Other,Yes,Yes,Yes
3,9115,7.604101011E9,3822,29804.0,2022-01-01 00:00:00+00:00,7.604101011E9,54.0,54.0,0.44,28.92,2013-08-12 00:00:00+00:00,2013-01-01 00:00:00+00:00,2013.0,Voluntary Carbon Market,2013-08-12 00:00:00+00:00,2013-08-12 00:00:00+00:00,Primary,Spot,None,None,End User,Voluntary net zero,Sustainability,None,100.0,0.0,0.0,None,Internal use,None,Immediately,Yes,Year prior to purchase date,Yes,"5,50",Other,Yes,Yes,Yes
4,9116,7.604101018E9,3822,29804.0,2022-01-01 00:00:00+00:00,7.604101018E9,54.0,54.0,0.44,28.92,2013-08-12 00:00:00+00:00,2013-01-01 00:00:00+00:00,2013.0,Voluntary Carbon Market,2013-08-12 00:00:00+00:00,2013-08-12 00:00:00+00:00,Primary,Spot,None,None,End User,Voluntary net zero,Sustainability,None,100.0,0.0,0.0,None,Internal use,None,Immediately,Yes,Year prior to purchase date,Yes,"5,50",Other,Yes,Yes,Yes

In [ ]:
# print(DestinationDatasetName+'.Log_'+DestinationTable)  # From TRN to FINAL
print(DestinationDatasetName+'.'+DestinationTable)

esm_FINAL.trades

In [ ]:
df.to_gbq(project_id=Project_id,destination_table=DestinationDatasetName+'.'+DestinationTable,if_exists='replace')
# df_Log.to_gbq(project_id=Project_id,destination_table=DestinationDatasetName+'.Log_'+DestinationTable,if_exists='replace')  # From TRN to FINAL

1it [00:25, 25.46s/it]