<a href="https://colab.research.google.com/github/eddowding/em_colab/blob/main/esmColab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [ ]:
from google.cloud import bigquery
import pandas as pd
import numpy as np

In [ ]:
#@title Default title text
Project_id = "ecosystemmarketplace" #@param {type:"string"}
DatasetName = "trades" #@param {type:"string"}
TableName = "esm_esm_150422_sheet1" #@param {type:"string"}
DestinationTable = "methodology" #@param {type:"string"}

In [ ]:
client = bigquery.Client(project=Project_id)

# respondents
# sample_query='SELECT DISTINCT em_respondent as respondent_name,respondent_role,respondent_profit_status,respondent_website FROM `'
# sample_query = sample_query+Project_id+'.'+DatasetName+'.'+TableName +'`'

# #buyer
# sample_query='SELECT DISTINCT buyer_name,buyer_profit_status,buyer_profit_status,buyer_profit_status_description,buyer_sector FROM `'
# sample_query = sample_query+Project_id+'.'+DatasetName+'.'+TableName +'`'

#methodology
sample_query='SELECT DISTINCT methdology_protocol_the_project_adheres_to as methodology_name FROM `'
sample_query = sample_query+Project_id+'.'+DatasetName+'.'+TableName +'`'

In [ ]:
print(sample_query)

SELECT DISTINCT methdology_protocol_the_project_adheres_to as methodology_name FROM `ecosystemmarketplace.trades.esm_esm_150422_sheet1`

In [ ]:
df = client.query(sample_query).to_dataframe()

In [ ]:
df.head()

   methodology_name
0              None
1   ACM0001 ver. 18
2  AMS-I.D. ver. 17
3   ACM0002 ver. 19
4     ACM0002 ver 6

In [ ]:
df_orig_columns = df.columns.to_list()
df_columns = df_orig_columns[:]
df_columns.insert(0,'id')

df = df.dropna(axis=0,how='all',subset=df_orig_columns)
df['id'] = np.arange(start = 1,stop=len(df)+1)
df = df.reindex(columns = df_columns)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df.head()

   id  methodology_name
1   1   ACM0001 ver. 18
2   2  AMS-I.D. ver. 17
3   3   ACM0002 ver. 19
4   4     ACM0002 ver 6
5   5   AMS-I.D. ver. 9

In [ ]:
df.describe(include='all')

                id methodology_name
count   392.000000              392
unique         NaN              392
top            NaN  ACM0001 ver. 18
freq           NaN                1
mean    196.500000              NaN
std     113.304898              NaN
min       1.000000              NaN
25%      98.750000              NaN
50%     196.500000              NaN
75%     294.250000              NaN
max     392.000000              NaN

In [ ]:
print(DatasetName+'.'+DestinationTable)

trades.methodology

In [ ]:
df.to_gbq(project_id=Project_id,destination_table=DatasetName+'.'+DestinationTable,if_exists='replace')

1it [00:05,  5.67s/it]